{% extends "base.html" %}

{% block content %}

<div class="bg-cover">

    <div class="landing-page">
        <h1 class="title-landing">
            Conduire un avenir financier plus contrôler
        </h1>
        <p class="paraf-landing">
            Bienvenu sur GFIteh, l'intelligence au service de vos finances, prenez le contrôle de votre avenir financier avec des outils intuitif et des analyses perspicaces.
        </p>
        <div class="learn-btn">
            <a href="#">
                Apprendre Encore Plus
                <img src="/static/images/logo/flecheGaucheHaut.png" alt="fleche">
            </a>
        </div>
    </div>
</div>

<div class="presenatation">
    <h1 class="tit-presentation">Un leader du marché financières en RDC</h1>
    <div class="users-presenter">
        <div>
            <h1>19 000+</h1>
            <p>LES SOURCES DE DONNÉES</p>
        </div>
        <div>
            <h1>38M+</h1>
            <p>UTILISATEURS PAYANTS</p>
        </div>
        <div>
            <h1>700+</h1>
            <p>ENTREPRISES FINTECH</p>
        </div>
        <div>
            <h1>16k</h1>
            <p>DES 20 PLUS GRANDES BANQUES CONGOLAISES</p>
        </div>
    </div>
    <p class="ft-presentation">Au 31 décembre 2023. Comprend les comptes/actifs sous gestion, administration et modalités de souscription.</p>
</div>


<section class="news-section">
    <h1>Explore what's new with Envestnet | GFIteh</h1>
    <div class="container-news">
        <div>
            <img src="/static/images/newsTech.jpeg" alt="newsTech">
            <h2>Conduire un avenir financier plus contrôler</h2>
            <p>Overcome data barriers and borders with a recognized open banking lead</p>
            <a href="#">A Savoir Plus</a>
            <p style="margin-bottom: 12px;"></p>
        </div>
        <div>
            <img src="/static/images/news3.jpeg" alt="news3">
            <h2>Conduire un avenir financier plus contrôler</h2>
            <p>Overcome data barriers and borders with a recognized open banking lead</p>
            <a href="#">A Savoir Plus</a>
            <p style="margin-bottom: 12px;"></p>
        </div>
        <div>
            <img src="/static/images/newsStat.jpeg" alt="newsStat">
            <h2>Conduire un avenir financier plus contrôler</h2>
            <p>Overcome data barriers and borders with a recognized open banking lead</p>
            <a href="#">A Savoir Plus</a>
            <p style="margin-bottom: 12px;"></p>
        </div>
    </div>
</section>

<section class="after-news">
    <div>
        <h1>Powering the Future of Financial Services</h1>
        <p class="p1-af-news">As a global leader in data aggregation and data analytics, Envestnet | Yodlee enables innovation and insights that help people live better financial lives. More than 1,400 financial services and tech companies, including 17 of the top 20 U.S. banks, rely on our global network and data science tools to empower financial services today—and tomorrow.</p>

        <p class="p2-af-news">As of June 30, 2023. Includes accounts/assets under management, administration, and subscription arrangements.</p>
    </div>

</section>

<section class="sec-account">

    <div class="div-acc-1">
        <div class="div-acc-1-pres2">
            <h1 class="h1-1">Drive Business Growth with Data and Analytics</h1>
            <h1 class="h1-2">Revolutionize Financial Services</h1>
        </div>
        <div class="div-acc-1-pres2">
            <p>Transform the way you uncover and act on growth opportunities with products and solutions that connect vast, enriched data sets, surface actionable insights, and enable dynamic experiences.</p>
            <a href="#">
                Voir Nos Services
                <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
            </a>
        </div>
    </div>

    <div class="div-acc-2">
        <div class="container-acc">
            <div class="acc1">
                <!-- une image bg -->
                <div>
                    <a href="#">
                        <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                    </a>
                    <p>Entreprises</p>
                </div>
            </div>

            <a href="#" class="link-accounts">DATA AGGREGATION</a>
            <a href="#" class="link-accounts">CREDIT ACCELERATOR</a>
            <a href="#" class="link-accounts">RETAIL BANKING</a>
        </div>

        <div class="container-acc">
            <div class="acc2">
                <!-- une image bg -->
                <div>
                    <a href="#">
                        <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                    </a>
                    <p>Particuliès</p>
                </div>
            </div>
            
            <a href="#" class="link-accounts">DATA AGGREGATION</a>
            <a href="#" class="link-accounts">CREDIT ACCELERATOR</a>
            <a href="#" class="link-accounts">RETAIL BANKING</a>
        </div>
    </div>
</section>


<section class="solutions-section">
    <div class="div-acc-1">
        <div class="div-acc-1-pres2">
            <h1 class="h1-1">Drive Financial Innovation for your Business</h1>
            <h1 class="h1-2">Data-Driven Solutions</h1>
        </div>
        <div class="div-acc-1-pres2">
            <p>Compete and grow with powerful solutions designed for retail banking, credit and lending, open banking, and more. Use individual solutions or combine them to meet the specific needs of your organization.</p>
            <a href="#">
                Voir Nos Solutions
                <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
            </a>
        </div>
    </div>

    <div class="container-animate-pres">
        <div class="card_container">

            <article class="card_article1">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative data to serve credit invisibles 
                </p>
            </article>

            <article class="card_article2">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative 
                </p>
            </article>

            <article class="card_article3">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative data 
                </p>
            </article>

            <article class="card_article4">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative data to serve
                </p>
            </article>

            <article class="card_article5">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative data
                </p>
            </article>

            <article class="card_article6">
                <!-- image en bg -->
                <a href="#" class="cache-a">
                    <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
                </a>

                <h1 class="title-card">Tech & FinTech</h1>

                <p class="cache-p">
                    Credit & Lending Leverage alternative data to serve credit
                </p>
                </div>
            </article>

        </div>
    </div>
</section>


<section class="ressources">

    <div class="div-acc-1">
        <div class="div-acc-1-pres2">
            <h1 class="h1-1">Resources</h1>
            <h1 class="h1-2">Our Expertise At Your Fingertips</h1>
        </div>
        <div class="div-acc-1-pres2">
            <p>Browse our library of white papers, on-demand webinars, eBooks, case studies, and more–all packed with product information, actionable advice and invaluable insights.</p>
            <a href="#" id="ressources-cta">
                Voir tous Nos Ressources
                <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
            </a>
        </div>
    </div>


    <div class="videos-ressources">
        <div>
            <img src="/static/images/without_watermark/ressource1.jpg" alt="">
            <p>
                Simplified Solutions for SMBs: How Your FI Can Grow Relationships by Offering Streamlined Solutions
            </p>
        </div>
        <div>
            <img src="/static/images/without_watermark/ressources2.jpg" alt="">
            <p> SMBs: How Your FI Can Grow Relationships by Offering Streamlined Solutions
                Subscription & Bill Tracker Overview2:35
                Subscription & Bill Tracker Overview
            </p>
        </div>
        <div>
            <img src="/static/images/without_watermark/ressources3.jpg" alt="">
            <p>
                Overview of Envestnet | Yodlee's Analytics Modules1:15
                Overview of Envestnet | Yodlee's Analytics Modules
            </p>
        </div>

    </div>

    <div class="btn-sp">
        <button><img src="/static/images/logo/precedent.png" alt=""></button>
        <button><img src="/static/images/logo/suivant.png" alt=""></button>
    </div>

</section>

<section class="contact-section">
    <div class="contact-1">
        <h1 class="h1-1-contact">Ask About Our Solutions</h1>
        <div class="btn-contact-sect">
            <h1 class="h1-2-contact">Get Started</h1>
            <a href="#">
                Nous Contactez
                <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
            </a>
        </div>
        <p>Share a few details with us, and we’ll contact you shortly.</p>
    </div>

    <div class="contact-2">
        <div class="link-contact-2">
            <a href="#">Blog</a> |
            <a href="#">Webinars</a> |
            <a href="#">News</a>
        </div>
        <button>
            Subscribe For Updates
            <img src="/static/images/logo/flecheGaucheHaut.png" alt="">
        </button>
    </div>

</section>

{% endblock %}




