{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}

<br><br><br><br> <br><br>

<div class="container-contact">
    <div class="contact-div">
        <h1>Contact Sales</h1>
        <h2>Are you an existing customer? <a href="#">Visit our customer help center</a></h2>
        <p>Please provide us with a few details and we’ll contact you shortly.</p>
    </div>
    
    <form method="post" class="form-contact">
    
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <button id="send-message">Envoyé</button>
    </form>
</div>


<br><br><br><br><br><br> <br>

{% endblock %}