{% extends 'base.html' %}

{% block title %}
    fonctionnalites
{% endblock %}

{% block content %}

<br><br><br><br><br><br> <br>
<br><br><br><br><br><br> <br>


<div class="container-contact" id="fonction-container">
    <div class="contact-div" id="fonction-title">
        <h1>Nos Fonctionnalites</h1>
        <h2>Bienvenue sur notre plateforme de gestion financière</a></h2>
        <p>Découvrez ci-dessous les fonctionnalités qui vous aiderons a mieux controler vos finances</p>
    </div>

    <div class="fonctionnalites">
        <div class="cards-fonction">
            <div>
                <img src="/static/images/logo/fonction/transaction.png" alt="logo">
                <h2>Suivi des transactions en temps réel</h2>
                <p>Notre plateforme vous permet de surveiller vos transactions financières en temps réel. Vous pouvez voir les entrées et les sorties d’argent instantanément.</p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/budget.png" alt="logo">
                <h2>Gestion des budgets personnalisés</h2>
                <p>
                    Créez et gérez des budgets spécifiques pour différentes catégories (par exemple, alimentation, loyer, divertissement) afin de mieux contrôler vos dépenses.
                </p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/graphique.png" alt="logo">
                <h2>Analyse des tendances financières</h2>
                <p>
                    Obtenez des graphiques et des rapports détaillés sur vos habitudes de dépenses, vos revenus et vos économies. Identifiez les tendances et prenez des décisions éclairées.
                </p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/notification.png" alt="logo">
                <h2>Alertes et notifications</h2>
                <p>
                    Recevez des alertes par e-mail ou SMS pour les paiements en retard, les dépenses inhabituelles ou les soldes de compte bas. Restez informé en permanence.
                </p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/securite.png" alt="logo">
                <h2>Sécurité renforcée</h2>
                <p>
                    Notre site utilise des protocoles de sécurité avancés pour protéger vos données financières. Vos informations sont cryptées et stockées de manière sécurisée.
                </p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/integration.png" alt="logo">
                <h2>Intégration avec les banques et les mobiles money</h2>
                <p>
                    Connectez vos comptes bancaires et vos cartes de crédit pour importer automatiquement vos transactions. Économisez du temps et évitez les saisies manuelles.
                </p>
            </div>

            <div>
                <img src="/static/images/logo/fonction/planification-financiere.png" alt="logo">
                <h2>Planification financière à long terme</h2>
                <p>
                    Créez des objectifs financiers, tels que l’achat d’une maison ou la retraite, et suivez vos progrès. Notre site vous aide à planifier votre avenir financier.
                </p>
            </div>

        </div>
    </div>

</div>


<br><br><br><br><br><br> <br>
<br><br><br><br><br><br> <br>
<br><br><br><br><br><br> <br>
<br><br><br><br><br><br> <br>

{% endblock %}